// Colors
$main-text: #ffffff;
$secondary-text: #343779;

$accent-color: #f8b750;

$main-bg: #ffffff;
$second-bg: #343779;
$third-bg: #51e2f2;

$white: #ffffff;
$red: #fe8aaa;
$blue: #51e2f2;

// Fonts
$main-font: "Geometria", sans-serif;
