// Colors
$main-text: #ffffff;
$secondary-text: #343779;

$accent-color: #f8b750;

$main-bg: #ffffff;
$second-bg: #343779;
$third-bg: #51e2f2;
$fourth-bg: #fe8aaa;

$white: #ffffff;
$red: #fe8aaa;
$blue: #51e2f2;

// Fonts
$main-font: "Geometria", sans-serif;

// Media 

$full: 1830px;
$elg: 1500px;
$lg: 1300px;
$md: 991px;
$sm: 767px;
$xs: 567px;