// Colors
$main-text: #ffffff;
$secondary-text: #343779;

$accent-color: #F8B750;

$main-bg: #ffffff;
$second-bg: #343779;
$third-bg: #51E2F2;

$white: #ffffff;

// Fonts
$main-font: 'Geometria', sans-serif;