.success {
	$bg-color: $second-bg;

	padding: 191px 0 100px;

	background-color: $bg-color;

	// .success__title

	&__title {
		max-width: 580px;
		margin-bottom: 91px;

		text-transform: uppercase;
	}

	// .success__inner

	&__inner {
		position: relative;

		display: flex;

		&::before {
			content: "";
			position: absolute;
			bottom: -2%;
			left: 2px;
			z-index: 5;

			width: 122px;
			height: 122px;

			background-image: url(../img/svg/sprite1.svg#quote-start);
			background-size: contain;
		}

		&::after {
			content: "";
			position: absolute;
			top: -3%;
			right: 3px;
			z-index: 5;

			width: 122px;
			height: 122px;

			background-image: url(../img/svg/sprite1.svg#quote-end);
			background-size: contain;
		}
	}

	// .success__item

	&__item {
		$padding-left: 110px;
		position: relative;

		display: flex;
		flex-direction: column;
		width: 33.33%;
		height: 500px;
		padding-left: $padding-left;

		&:first-child {
			padding-left: $padding-left + 60px;

			&::after {
				left: 0px;
			}
		}

		&:last-child {
			&::after {
				left: -45px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			left: -25px;

			width: 500px;
			height: 500px;

			background-color: $bg-color;
			border: 2px solid var(--border-color);
			border-radius: 50%;
		}
	}

	// .success__box

	&__box {
		position: relative;
		z-index: 2;

		max-width: 260px;
		margin-top: 155px;
	}

	// .success__subtitle

	&__subtitle {
		font-weight: 700;
		font-size: 30px;
		line-height: 1;
	}

	// .success__text

	&__text {

	}
}
.container {
}
.title-2 {
}
