<div class="block-team">
	<div class="container">
		<div class="block-team__inner">
			<ul class="block-team__sidebar">
				<li class="block-team__info">
					<div class="block-team__value" style="--text: '10+'"><span>10+</span></div>
					<div class="block-team__text">лет в ресторанной <br> сфере</div>
				</li>

				<li class="block-team__info">
					<div class="block-team__value" style="--text: '150+'"><span>150+</span></div>
					<div class="block-team__text">кофеен запущено в совокупности нашими специалистами*</div>
				</li>
			</ul>

			<ul class="block-team__content">
				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>

				<li class="block-team__item">
					<div class="circle-picture">
						<div class="circle-picture__image">
							<img src="img/team/team-member-1.png" alt="">
						</div>

						<div class="circle-picture__name">Анатолий Анатольев</div>
						<div class="circle-picture__position">Какая то должность</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>