<div class="chart">
	<div class="container">
		<div class="chart__block">
			<div class="chart__side">
				<div class="chart__title">
					4 квартал 2019 <br> 8 кофеен 
				</div>

				<ul class="chart__list">
					<li class="chart__item">Москва</li>
					<li class="chart__item">Новороссийск</li>
				</ul>
			</div>

			<div class="chart__content">
				<div class="chart__line" style="--line-width: 57; background-color: #fff;">8</div>
			</div>
		</div>

		<div class="chart__block">
			<div class="chart__side">
				<div class="chart__title">
					1 полугодие 2020 <br> 20 кофеен  
				</div>

				<ul class="chart__list">
					<li class="chart__item">Москва и МО</li>
					<li class="chart__item">Новороссийск</li>
					<li class="chart__item">Санкт-Петербург</li>
				</ul>
			</div>

			<div class="chart__content">
				<div class="chart__line" style="--line-width: 142; background-color: #51E2F2;">20</div>
			</div>
		</div>

		<div class="chart__block">
			<div class="chart__side">
				<div class="chart__title">
					2 полугодие 2020 <br> 35 кофеен 
				</div>

				<ul class="chart__list">
					<li class="chart__item">Москва и МО</li>
					<li class="chart__item">Новороссийск</li>
					<li class="chart__item">Санкт-Петербург</li>
					<li class="chart__item">Краснодар</li>
				</ul>
			</div>

			<div class="chart__content">
				<div class="chart__line" style="--line-width: 248; background-color: #FE8AAA;">35</div>
			</div>
		</div>

		<div class="chart__block">
			<div class="chart__side">
				<div class="chart__title">
					1 полугодие 2020 <br> 20 кофеен  
				</div>

				<ul class="chart__list">
					<li class="chart__item">Москва</li>
					<li class="chart__item">Новороссийск</li>
					<li class="chart__item">Санкт-Петербург</li>
				</ul>
			</div>

			<div class="chart__content">
				<div class="chart__line" style="--line-width: 426; background-color: #FAB03A;">60</div>
			</div>
		</div>

		<div class="chart__block">
			<div class="chart__side">
				<div class="chart__title">
					1 полугодие 2020 <br> 20 кофеен  
				</div>

				<ul class="chart__list">
					<li class="chart__item">Москва</li>
					<li class="chart__item">Новороссийск</li>
					<li class="chart__item">Санкт-Петербург</li>
				</ul>
			</div>

			<div class="chart__content">
				<div class="chart__line" style="--line-width: 532; background-color: #F85F40;">75</div>
			</div>
		</div>
	</div>
</div>