<div class="contact-block">
	<div class="container">
		<div class="contact-block__inner">
			<div class="contact-block__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37494223.239094906!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1618503576264!5m2!1sru!2sru"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>

			<div class="contact-block__content">
				<form class="contact-block__header">
					<select name="select-city" id="select-city" class="contact-block__place">
						<option value="Moscow">Москва</option>
						<option value="Irkutsk">Иркутск</option>
					</select>
					<label class="contact-block__search">
						<span class="visually-hidden">Поиск города</span>
						<input type="text" class="contact-block__input">
					</label>
					<button class="contact-block__btn">
						<span class="visually-hidden">Найти город</span>
					</button>
				</form>

				<ul class="contact-block__list">
					<li class="contact-block__item">
						<div class="contact-block__position">
							<div class="contact-block__city">Москва</div>
							<div class="contact-block__stop">Метро Какое то, <br> Волгоградский проспект, 43</div>
						</div>

						<div class="contact-block__data">
							<a href="tel:88007079113" class="contact-block__link">8 (800) 707-91-13</a>
							<div class="contact-block__time">08:00-21:00</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>