<section class="drink-block" id="scroll-1">
	<div class="container">
		<div class="title-2 drink-block__title">Напитки</div>
		<div class="drink-block__inner">
			<div class="drink-block__box drink-block__box--first" style="--color: #44478D;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">КЛАССИКА</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/1.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-1.png" alt="">
					</div>
					<ul class="drink-block__prices">
						<li class="drink-block__price drink-block__price--blue drink-block__price--first">40 мл</li>
						<li class="drink-block__price drink-block__price--blue drink-block__price--second">250 мл</li>
						<li class="drink-block__price drink-block__price--blue drink-block__price--third">450 мл</li>
					</ul>

					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Эспрессо</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Американо</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
							<div class="drink-block__item drink-block__item--third"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Капучино</span></div>
							<div class="drink-block__item drink-block__item--first"><span>9999</span></div>
							<div class="drink-block__item drink-block__item--second"><span>9999</span></div>
							<div class="drink-block__item drink-block__item--third"><span>9999</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Латте</span></div>
							<div class="drink-block__item drink-block__item--second"><span>100</span></div>
							<div class="drink-block__item drink-block__item--third"><span>180</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Флет уайт</span></div>
							<div class="drink-block__item drink-block__item--second"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Раф кофе</span></div>
							<div class="drink-block__item drink-block__item--second"><span>60</span></div>
							<div class="drink-block__item drink-block__item--third"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Какао классический</span></div>
							<div class="drink-block__item drink-block__item--second"><span>60</span></div>
							<div class="drink-block__item drink-block__item--third"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Чай</span></div>
							<div class="drink-block__item drink-block__item--second"><span>60</span></div>
							<div class="drink-block__item drink-block__item--third"><span>100</span></div>
						</li>
					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle.svg" alt="">
				</div>
			</div>
			<div class="drink-block__box drink-block__box--second drink-block__box--dark-color" style="--color: #51E2F2;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">Авторское <br> меню</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/2.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-2.png" alt="">
					</div>
					<ul class="drink-block__prices">
						<li class="drink-block__price drink-block__price--first">250 мл</li>
						<li class="drink-block__price drink-block__price--second">450 мл</li>
					</ul>

					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Раф арахисовый</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Чай маракуйя апельсин</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Латте прянная тыква</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Раф с сиропом</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Латте лимонный тарт</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>

						<li class="drink-block__el drink-block__el--drop">
							<div class="drink-block__item drink-block__item--name"><img src="img/coffe/drop.svg" alt=""><span>Сироп</span></div>
							<div class="drink-block__item drink-block__item--first"><span>30</span></div>
						</li>

					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle-white.svg" alt="">
				</div>
			</div>
			<div class="drink-block__box drink-block__box--third drink-block__box--dark-color" style="--color: #FE8AAA;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">Сезонное <br> меню</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/3.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-3.png" alt="">
					</div>
					<ul class="drink-block__prices">
						<li class="drink-block__price drink-block__price--first">250 мл</li>
						<li class="drink-block__price drink-block__price--second">450 мл</li>
					</ul>

					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Сибирский раф</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Вишневый латте</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>РАФ цитрусовый</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Глинтвейн б/а</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Чай мандариновый</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Зелёная матча</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
							<div class="drink-block__item drink-block__item--second"><span>150</span></div>
						</li>
					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle-white.svg" alt="">
				</div>
			</div>
			<div class="drink-block__box drink-block__box--last" style="--color: #343779;">

				<div class="drink-block__decor">
					<img src="img/coffe/last-circle.svg" alt="">
				</div>

			</div>
		</div>
	</div>
</section>

<section class="drink-block" id="scroll-2">
	<div class="container">
		<div class="title-2 drink-block__title">Еда</div>
		<div class="drink-block__inner drink-block__inner--eat">
			<div class="drink-block__box drink-block__box--eat drink-block__box--dark-color drink-block__box--fifth" style="--color: #51E2F2;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">Завтраки</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/4.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-4.png" alt="">
					</div>
					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Каша овсяная по-домашнему </span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Блинчики с яблоком</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Запеканка творожная с изюмом</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Сырники</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Сырники</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Блинчики с курицей и грибами</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Блины с ветчиной и сыром</span></div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name"><span>Блинчики с абрикосовым джемом</span></div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle-white.svg" alt="">
				</div>
			</div>
			<div class="drink-block__box drink-block__box--eat drink-block__box--sixth" style="--color: #44478D;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">Ланчи</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/5.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-5.png" alt="">
					</div>
					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Мимоза</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Оливье с ветчиной</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сельдь под шубой</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сэндвич-ролл с ветчиной</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сэндвич с курицей и сыром</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Суп-крем "Тыквенный"</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Греческий</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Цезарь</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сэндвич с салями и сыром в черном хлебе</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сэндвич с пеперони и сыром в черном хлебе</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Бейгл с говядиной</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сандвич-ролл с курицей</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Оладьи из печени с картоф пюре</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Лапша "Удон с курицей"</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Бейгл с лососем</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сендвич с ветчиной и сыром на сером злаковом хлебе</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сэндвич-ролл с курицей</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Мясо по-французски с пюре картофельным</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>

					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle.svg" alt="">
				</div>
			</div>
			<div class="drink-block__box drink-block__box--eat drink-block__box--dark-color drink-block__box--seventh" style="--color: #FAB03A;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">Десерты</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/6.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-6.png" alt="">
					</div>
					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Чизкейк Нью-Йорк</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Чизкейк малиновый</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Чизкейк клубничный</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Пирог Малиновый с миндалём</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Пирог карамельно-яблочный</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Пирожное ШУ с карамельным кремом</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Абриковый пирог</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Брауни Рок Слайд с карамелью и орехами</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Арахисовый кранч</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Пирожное Анна Павловна</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Канноло сицилийская</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>150</span></div>
						</li>
					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle-white.svg" alt="">
				</div>
			</div>
			<div class="drink-block__box drink-block__box--eat drink-block__box--dark-color drink-block__box--eighth" style="--color: #FE8AAA;">
				<div class="drink-block__box-inner">
					<h3 class="drink-block__name">Выпечка</h3>
					<div class="drink-block__image">
						<img class="drink-block__image-desktop" src="img/coffe/7.png" alt="">
						<img class="drink-block__image-mobile" src="img/coffe/mobile-7.png" alt="">
					</div>
					<ul class="drink-block__list">
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Круассан с карамелью</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Круассан с шоколадом</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Косичка с фисташковым кремом, шоколадом и орехом</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>
						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Сосиска в тесте </span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>60</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Круассан с ветчиной и сыром</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>

						<li class="drink-block__el">
							<div class="drink-block__item drink-block__item--name">
								<span>Круассан с миндальным кремом</span>
							</div>
							<div class="drink-block__item drink-block__item--first"><span>100</span></div>
						</li>
					</ul>
				</div>

				<div class="drink-block__decor">
					<img src="img/icons/circle-white.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>