<section class="education-center" style="background-color: #343779;">
	<div class="container">
		<h2 class="title-2 education-center__title">
			<span class="tk-anim tk-a-translate-l tk-no-hide">У НАС СОБСТВЕННЫЙ УЧЕБНЫЙ ЦЕНТР ДЛЯ ПАРТНЕРОВ ПЛОЩАДЬЮ</span>
		</h2>

		<div class="education-center__value">
			<span class="education-center__number tk-anim tk-a-rotate tk-no-hide" style="--text: '450'">
				<span>450</span>
			</span>
			<div class="education-center__value-row">
				<sup class="education-center__index tk-anim tk-a-translate-b tk-no-hide" style="--text: 'м2'"><span>м2</span></sup>
				<p class="education-center__text tk-anim tk-a-rotate tk-no-hide">
					Самый БОЛЬШОЙ в индустрии!
				</p>
			</div>
		</div>

		<ul class="education-center__list">
			<li class="education-center__item tk-anim tk-a-translate-b tk-no-hide">
				Полное обучение собственников <br> позволяет избежать ошибок на <br> запуске и в управлении кофейней
			</li>
			<li class="education-center__item tk-anim tk-a-translate-b tk-no-hide">
				Обучаем бариста по многоуровневой методике, высокое качество напитков и сервиса обеспечивает развитие кофейни
			</li>
			<li class="education-center__item tk-anim tk-a-translate-b tk-no-hide">
				Наша команда выезжает <br> в регионы для запуска и <br> адаптации кофейни
			</li>
		</ul>

		<!-- Slider main container -->
		<div class="education-center__slider swiper-container">
			<!-- Additional required wrapper -->
			<div class="education-center__wrapper swiper-wrapper">
				<!-- Slides -->
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-1.jpg" alt="">
				</div>
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-2.jpg" alt="">
				</div>
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-3.jpg" alt="">
				</div>
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-4.jpg" alt="">
				</div>

				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-1.jpg" alt="">
				</div>
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-2.jpg" alt="">
				</div>
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-3.jpg" alt="">
				</div>
				<div class="education-center__slide swiper-slide">
					<img class="education-center__image" src="img/franschise/swiper-image-4.jpg" alt="">
				</div>
			</div>

			<div class="education-center__row">
				<!-- If we need navigation buttons -->
				<div class="education-center__btns">
					<button class="education-center__nav education-center__nav--prev">Свайп назад</button>
					<div class="education-center__pagination swiper-pagination"></div>
					<button class="education-center__nav education-center__nav--next">Свайп вперед</button>
				</div>

				<!-- If we need scrollbar -->
				<div class="education-center__scrollbar swiper-scrollbar"></div>
				<button class="btn education-center__btn js-pupup-btn" data-modal-target="#modal1">
					<span class="btn__bg">
						<span class="btn__wave"></span>
					</span>
					<span class="btn__text">Хочу персональную экскурсию</span>
				</button>
			</div>
		</div>
	</div>
</section>