<section class="franchise-start" style="background-color: #343779;">
	<div class="container">
		<div class="franchise-start__row">
			<h2 class="title franchise-start__title">ЗАПУСК <br> КОФЕЙНИ</h2>
			<div class="franchise-start__term">
				<span class="franchise-start__time">10-21</span>
				<span class="franchise-start__category">день</span>
				<p class="franchise-start__text">Уходит на <br> запуск кофейни</p>
			</div>
		</div>

		<ul class="franchise-start__stages js-accordion">
			<li class="franchise-start__item tk-anim tk-a-translate-b tk-no-hide">
				<div class="title-2 franchise-start__subtitle">ПОДГОТОВКА К ЗАПУСКУ КОФЕЙНИ.</div>
				<button class="franchise-start__btn js-accordion__btn">
					<span class="vissually-hidden">Открыть элемент</span>
				</button>
				<ul class="franchise-start__list js-accordion__content js-accordion__content--active">
					<li class="franchise-start__element">
						Подбираем и устанавливаем <br> оборудование и инвентарь
					</li>
					<li class="franchise-start__element">
						Налаживаем процессы поставки <br> продукции в соответствии с <br> ассортиментной матрицеq
					</li>
					<li class="franchise-start__element">
						Обучаем вас и сотрудников всем аспектам работы, в нашем учебном центре
					</li>
					<li class="franchise-start__element">
						Автоматизируем все процессы и <br> подключаем ERP. Вместе запускаем кофейню и приветствуем первых гостей
					</li>
				</ul>
			</li>

			<li class="franchise-start__item tk-anim tk-a-translate-b tk-no-hide">
				<div class="title-2 franchise-start__subtitle">ПОМОЩЬ В&nbsp;ЗАПУСКЕ КОФЕЙНИ</div>
				<button class="franchise-start__btn js-accordion__btn">
					<span class="vissually-hidden">Открыть элемент</span>
				</button>
				<ul class="franchise-start__list js-accordion__content">
					<li class="franchise-start__element">
						Подбираем и устанавливаем оборудование и инвентарь
					</li>
					<li class="franchise-start__element">
						Налаживаем процессы поставки продукции в соответствии с ассортиментной матрицеq
					</li>
					<li class="franchise-start__element">
						Обучаем вас и сотрудников всем аспектам работы, в нашем учебном центре
					</li>
					<li class="franchise-start__element">
						Автоматизируем все процессы и подключаем ERP. Вместе запускаем кофейню и приветствуем первых гостей
					</li>
				</ul>
			</li>

			<li class="franchise-start__item tk-anim tk-a-translate-b tk-no-hide">
				<div class="title-2 franchise-start__subtitle">ПОДДЕРЖКА НА ЭТАПАХ РАБОТЫ</div>
				<button class="franchise-start__btn js-accordion__btn">
					<span class="vissually-hidden">Открыть элемент</span>
				</button>
				<ul class="franchise-start__list js-accordion__content">
					<li class="franchise-start__element">
						Подбираем и устанавливаем оборудование и инвентарь
					</li>
					<li class="franchise-start__element">
						Налаживаем процессы поставки продукции в соответствии с ассортиментной матрицеq
					</li>
					<li class="franchise-start__element">
						Обучаем вас и сотрудников всем аспектам работы, в нашем учебном центре
					</li>
					<li class="franchise-start__element">
						Автоматизируем все процессы и подключаем ERP. Вместе запускаем кофейню и приветствуем первых гостей
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>