<section class="free-room" style="background-color: #343779;">
	<div class="container">
		<h2 class="title-2 free-room__title">
			{{ titleContent | safe }}
		</h2>

		<div class="free-room__inner">
			<div class="free-room__box">
				<ul class="free-room__list">
					<li class="free-room__item tk-anim tk-a-rotate">
						Качественно подобранное помещение является залогом успешного бизнеса
					</li>
					<li class="free-room__item tk-anim tk-a-rotate">
						Кофейни FlyCoffee находятся только на высоком трафике
					</li>
					<li class="free-room__item tk-anim tk-a-rotate">
						Каждую долкацию утверждает лично директор по развитию
					</li>
				</ul>

				<button class="btn free-room__btn js-pupup-btn {{btnAddClass}}" data-modal-target="#modal1">
					<span class="btn__bg">
						<span class="btn__wave"></span>
					</span>
					<span class="btn__text">
						{% if freeBtnText %}
						{{freeBtnText}}
						{% else %}
						Подобрать помещение
						{% endif %}
					</span>
				</button>
			</div>

			<img class="free-room__image tk-anim tk-a-scale tk-no-hide" src="img/free_room.png" alt="">
		</div>
	</div>
</section>