<section class="hero-slider">
	<div class="hero-slider__wrapper swiper-container">
		<div class="swiper-wrapper hero-slider__slider">
			<div class="swiper-slide hero-slider__slide" style="background-color: #51E2F2;">
				<div class="container">
					<div class="hero-slider__inner">
						<p class="hero-slider__text">
							Федеральная <br> сеть кофеен
						</p>
						<div class="hero-slider__image">
							<div class="circle">
								<img class="circle__image" src="img/hero/circle.svg" alt="">
								<img class="circle__center" src="img/hero/circle-center.svg" alt="">
							</div>
						</div>
						<h1 class="title hero-slider__title">
							Фиксированная <br> цена
						</h1>
					</div>
				</div>
			</div>
			<div class="swiper-slide hero-slider__slide" style="background-color: #FAB03A;">
				<div class="container">
					<div class="hero-slider__inner">
						<p class="hero-slider__text">
							Федеральная <br> сеть кофеен
						</p>
						<div class="hero-slider__circle">
							<img class="hero-slider__img" src="img/home/slide-2.png" alt="">
						</div>
						<h1 class="title hero-slider__title">
							Specialty <br> кофе
						</h1>
					</div>
				</div>
			</div>
			<div class="swiper-slide hero-slider__slide" style="background-color: #FE8AAA;">
				<div class="container">
					<div class="hero-slider__inner">
						<p class="hero-slider__text">
							Федеральная <br> сеть кофеен
						</p>
						<div class="hero-slider__circle">
							<img class="hero-slider__img" src="img/home/slide-3.png" alt="">
						</div>
						<h1 class="title hero-slider__title">
							Свежая <br> еда 
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-slider__btns">
			<button class="hero-slider__nav hero-slider__nav--prev">Свайп назад</button>
			<button class="hero-slider__nav hero-slider__nav--next">Свайп вперед</button>
		</div>
	</div>
</section>