<div class="logos">
	<div class="container">
		<ul class="logos__list">
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo1.png" alt="Минкомсвязь России"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo2.png" alt="Калашников концерн"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo5.png" alt="Газпромбанк"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo1.png" alt="Минкомсвязь России"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo2.png" alt="Калашников концерн"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo5.png" alt="Газпромбанк"></a>
			</li>

			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo3.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo4.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo6.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo7.png" alt=""></a>
			</li>

			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo1.png" alt="Минкомсвязь России"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo2.png" alt="Калашников концерн"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo5.png" alt="Газпромбанк"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo1.png" alt="Минкомсвязь России"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo2.png" alt="Калашников концерн"></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo5.png" alt="Газпромбанк"></a>
			</li>

			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo3.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo4.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo6.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo7.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo3.png" alt=""></a>
			</li>
			<li class="logos__item">
				<a class="logos__link" href="#"><img class="logos__img" src="img/media/logo4.png" alt=""></a>
			</li>
		</ul>

		<button class="btn btn--transparent btn--white logos__btn" data-modal-target="#modal1">Связаться с нами</button>
	</div>
</div>