<section class="news">
	<div class="container">
		<div class="news__inner">
			<figure class="news__figure news__figure--main">
				<img src="img/article/1.jpg" alt="Название фотографии">
			</figure>

			<div class="news__row">
				<div class="news__left">
					<h1 class="news__title">
						Все актульные события связанные с жизнью нашего проекта
					</h1>
					<div class="news__date">
						12.03.2020
					</div>
				</div>
				<div class="news__right">
					<div class="news__text">
						<p>
							Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
						</p>
						<p>
							Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
						</p>
					</div>
				</div>
			</div>

			<figure class="news__figure">
				<img src="img/article/2.jpg" alt="Название фотографии">
				<figcaption>Название фотографии</figcaption>
			</figure>

			<div class="news__row">
				<div class="news__right">
					<div class="news__text">
						<p>
							Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
						</p>
						<p>
							Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
						</p>
					</div>
				</div>
			</div>

			<div class="news__video">
				<a class="news__video-link" href="#">
					<svg width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M51.7427 24.8446C56.0858 27.3086 56.0858 33.6914 51.7427 36.1554L9.40139 60.1777C5.18273 62.5711 -2.10913e-07 59.4534 0 54.5223L2.05492e-06 6.47775C2.26584e-06 1.54656 5.18272 -1.57113 9.40138 0.822319L51.7427 24.8446Z" fill="inherit" />
					</svg>
				</a>
				<figure class="news__figure">
					<img src="img/article/3.jpg" alt="Название фотографии">
				</figure>
			</div>

			<div class="news__row">
				<div class="news__right">
					<div class="news__text">
						<p>
							Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
						</p>
						<p>
							Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
						</p>
					</div>
				</div>
			</div>

			<div class="news-slider">
				<div class="news-slider__wrapper swiper-container">
					<div class="swiper-wrapper news-slider__slider">
						<div class="swiper-slide news-slider__slide">
							<div class="news-slider__slide-inner">
								<img src="img/article/4.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide news-slider__slide">
							<div class="news-slider__slide-inner">
								<img src="img/article/2.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide news-slider__slide">
							<div class="news-slider__slide-inner">
								<img src="img/article/3.jpg" alt="">
							</div>
						</div>
					</div>

					<div class="news-slider__row">
						<div class="news-slider__scrollbar swiper-scrollbar"></div>

						<div class="news-slider__btns">
							<button class="news-slider__nav news-slider__nav--prev">Свайп назад</button>
							<button class="news-slider__nav news-slider__nav--next">Свайп вперед</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>