<div class="page-offer">
	<div class="container">
		<h2 class="title-3 page-offer__title">
			Рассмотрим ваше <br>
			предложение если:
		</h2>

		<div class="page-offer__inner">
			<div class="page-offer__item">
				<div class="page-offer__name page-offer__name--small">высокий <br> трафик</div>
				<p class="page-offer__text">У вас помещения только с высоким трафиком</p>
			</div>
			<div class="page-offer__item">
				<div class="page-offer__name">4-50<sup>м2</sup></div>
				<p class="page-offer__text">Площадь <br> помещения</p>
			</div>
			<div class="page-offer__item">
				<div class="page-offer__name">7<sup>Квт</sup></div>
				<p class="page-offer__text">Электричество. Нам необходимо не менее 7 кВт</p>
			</div>
		</div>
		<button class="btn btn--transparent btn--white js-pupup-btn page-offer__btn" data-modal-target="#modal1">предложить помещение</button>
	</div>
</div>
