<div class="quiz" data-simplebar>
	<form class="quiz__inner js-send-form" method="POST" action="resources/mailer.php">
		<button class="quiz__close js-close">
			<svg width="40" height="40" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M42.4268 14.1406L14.1425 42.4249" stroke="#343779" stroke-width="5" />
				<path d="M14.1416 14.1406L42.4259 42.4249" stroke="#343779" stroke-width="5" />
			</svg>
		</button>
		<div class="quiz__image-slider swiper-container">
			<div class="swiper-wrapper">
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/1.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/2.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/3.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/4.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/5.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/6.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/7.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/8.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/9.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/10.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/11.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/12.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/13.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/14.png" alt="">
				</div>
				<div class="quiz__image swiper-slide">
					<img class="quiz__img" src="img/quiz/15.png" alt="">
				</div>
			</div>

		</div>

		<div class="quiz__content swiper-container">
			<div class="quiz__progress">
				<span class="quiz__current">1</span>
				/
				<span class="quiz__count">15</span>
			</div>
			<div class="quiz__slider swiper-wrapper">
				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Приходилось ли Вам ранее заниматься предпринимательской деятельностью?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Приходилось ли Вам ранее заниматься предпринимательской деятельностью?" checked value="Да. Я предприниматель со стажем, есть опыт в HoReCa.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Да. Я предприниматель со стажем, есть опыт в HoReCa.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Приходилось ли Вам ранее заниматься предпринимательской деятельностью?" value="Да. Но деятельность никак не связана с HoReCa.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Да. Но деятельность никак не связана с HoReCa.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Приходилось ли Вам ранее заниматься предпринимательской деятельностью?" value="Нет..">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Нет..</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Что по вашему мнению в большей степени влияет на успех кофейни?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Что по вашему мнению в большей степени влияет на успех кофейни?" checked value="Доступная локация">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Доступная локация</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Что по вашему мнению в большей степени влияет на успех кофейни?" value="Узнаваемость бренда">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Узнаваемость бренда</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Что по вашему мнению в большей степени влияет на успех кофейни?" value="Лояльные цены">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Лояльные цены</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Есть ли у Вас опыт подбора помещений?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Есть ли у Вас опыт подбора помещений?" checked value="Да. Занимался подбором помещения.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Да. Занимался подбором помещения.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Есть ли у Вас опыт подбора помещений?" value="Приходилось сталкиваться. Доверил подбор специалисту.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Приходилось сталкиваться. Доверил подбор специалисту.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Есть ли у Вас опыт подбора помещений?" value="Нет, не приходилось заниматься этим.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Нет, не приходилось заниматься этим.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Приходилось ли Вам за месяц отсматривать около 100 помещений?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Приходилось ли Вам за месяц отсматривать около 100 помещений?" checked value="Нет. Остановился на первых попавшися вариантах.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Нет. Остановился на первых попавшися вариантах.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Приходилось ли Вам за месяц отсматривать около 100 помещений?" value="Обошел 10-20 варантов, среди которых нашел подходящий.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Обошел 10-20 варантов, среди которых нашел подходящий.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Приходилось ли Вам за месяц отсматривать около 100 помещений?" value="Да">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Да</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						На сколько хорошо Вы разбираетесь в дизайне?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="На сколько хорошо Вы разбираетесь в дизайне?" checked value="Предпочту нанять профессионального дизайнера.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Предпочту нанять профессионального дизайнера.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="На сколько хорошо Вы разбираетесь в дизайне?" value="Придирчив к работе дизайнера. Вношу корректировки.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Придирчив к работе дизайнера. Вношу корректировки.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="На сколько хорошо Вы разбираетесь в дизайне?" value="Зачем платить? Я сам знаю, как нужно сделать.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Зачем платить? Я сам знаю, как нужно сделать.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Командный дух - насколько это важно?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Командный дух - насколько это важно?" checked value="Одна из основных составляющих успешного бизнеса.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Одна из основных составляющих успешного бизнеса.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Командный дух - насколько это важно?" value="Не самое важное, но имеет место быть.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Не самое важное, но имеет место быть.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Командный дух - насколько это важно?" value="Далеко не на первом месте.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Далеко не на первом месте.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Важно ли для Вас нести полную ответственность за неудачи или приятней всё делать в команде и разделять ответственность?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Важно ли для Вас нести полную ответственность за неудачи или приятней всё делать в команде и разделять ответственность?" checked value="Я сам отвечаю за свои ошибки.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Я сам отвечаю за свои ошибки.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Важно ли для Вас нести полную ответственность за неудачи или приятней всё делать в команде и разделять ответственность?" value="Здорово, если есть поддержка, на которую можно положиться.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Здорово, если есть поддержка, на которую можно положиться.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Знаком ли Вам термин EBITDA? Доводилось ли применять данный показательна практике?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Знаком ли Вам термин EBITDA? Доводилось ли применять данный показательна практике?" checked value="Не знаком.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Не знаком.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Знаком ли Вам термин EBITDA? Доводилось ли применять данный показательна практике?" value="Знаком, но на практике не применялся.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Знаком, но на практике не применялся.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Знаком ли Вам термин EBITDA? Доводилось ли применять данный показательна практике?" value="Знаком и применялся на практике.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Знаком и применялся на практике.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Умеете ли Вы составлять калькуляционные и технологические карты?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Умеете ли Вы составлять калькуляционные и технологические карты?" checked value="Да, умею">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Да, умею</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Умеете ли Вы составлять калькуляционные и технологические карты?" value="Нет, но знаю к кому и зачем обратиться">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Нет, но знаю к кому и зачем обратиться</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Умеете ли Вы составлять калькуляционные и технологические карты?" value="А что это?">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">А что это?</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне.
					</div>
					<div class="quiz__box quiz__box--grid">
						<label class="quiz__label tm-checkbox-2">
							<input type="checkbox" class="quiz__radio tm-checkbox-2__input" name="Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне 1" value="Средний чек">
							<span class="tm-checkbox-2__box"></span>
							<span class="tm-checkbox-2__text quiz__text">Средний чек</span>
						</label>
						<label class="quiz__label tm-checkbox-2">
							<input type="checkbox" class="quiz__radio tm-checkbox-2__input" name="Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне 2" value="Качество молока">
							<span class="tm-checkbox-2__box"></span>
							<span class="tm-checkbox-2__text quiz__text">Качество молока</span>
						</label>
						<label class="quiz__label tm-checkbox-2">
							<input type="checkbox" class="quiz__radio tm-checkbox-2__input" name="Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне 3" value="Количество гостей">
							<span class="tm-checkbox-2__box"></span>
							<span class="tm-checkbox-2__text quiz__text">Количество гостей</span>
						</label>
						<label class="quiz__label tm-checkbox-2">
							<input type="checkbox" class="quiz__radio tm-checkbox-2__input" name="Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне 4" value="График работы бариста">
							<span class="tm-checkbox-2__box"></span>
							<span class="tm-checkbox-2__text quiz__text">График работы бариста</span>
						</label>
						<label class="quiz__label tm-checkbox-2">
							<input type="checkbox" class="quiz__radio tm-checkbox-2__input" name="Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне 5" value="Дополнительная продажа">
							<span class="tm-checkbox-2__box"></span>
							<span class="tm-checkbox-2__text quiz__text">Дополнительная продажа</span>
						</label>
						<label class="quiz__label tm-checkbox-2">
							<input type="checkbox" class="quiz__radio tm-checkbox-2__input" name="Отметьте варианты ответов, которые необходимы для рассчета эфективности продаж в кофейне 6" value="Скорость отдачи напитка">
							<span class="tm-checkbox-2__box"></span>
							<span class="tm-checkbox-2__text quiz__text">Скорость отдачи напитка</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Как долго Вы можете с увлечением заниматься одним родом деятельности?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Как долго Вы можете с увлечением заниматься одним родом деятельности?" checked value="Быстро выгораю. Предпочитаю продавать свои проекты.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Быстро выгораю. Предпочитаю продавать свои проекты.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Как долго Вы можете с увлечением заниматься одним родом деятельности?" value="Каждому жизненному этапу - свой бизнес.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Каждому жизненному этапу - свой бизнес.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Как долго Вы можете с увлечением заниматься одним родом деятельности?" value="Бизнес – это дело жизни, которое нужно передать свои детям">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Бизнес – это дело жизни, которое нужно передать свои детям</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Рассматриваете ли Вы кофейню как инвестиционный проект? Или же предпочли бы формат кофейни как собственного бизнеса?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Рассматриваете ли Вы кофейню как инвестиционный проект? Или же предпочли бы формат кофейни как собственного бизнеса?" value="Предпочту вложить деньги и получать с этого доход." checked>
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Предпочту вложить деньги и получать с этого доход.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Рассматриваете ли Вы кофейню как инвестиционный проект? Или же предпочли бы формат кофейни как собственного бизнеса?" value="Кофейня - личный бизнес. Буду вкладываться в нее с душой.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Кофейня - личный бизнес. Буду вкладываться в нее с душой.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Рассматриваете ли Вы вариант открытия кофейни по франшизе?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Рассматриваете ли Вы вариант открытия кофейни по франшизе?" checked value="Да">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Да</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Рассматриваете ли Вы вариант открытия кофейни по франшизе?" value="Нет, не рассматриваю.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Нет, не рассматриваю.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Рассматриваете ли Вы вариант открытия кофейни по франшизе?" value="Пока не определился.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Пока не определился.</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Какую сумму Вы планируете потратить на открытие кофейни по франшизе?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Какую сумму Вы планируете потратить на открытие кофейни по франшизе?" checked value="Не более 700 000 рублей">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Не более 700 000 рублей</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Какую сумму Вы планируете потратить на открытие кофейни по франшизе?" value="От 700 000 до 1 500 000 рублей">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">От 700 000 до 1 500 000 рублей</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Какую сумму Вы планируете потратить на открытие кофейни по франшизе?" value="Свыше 1,5 миллионов рублей">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Свыше 1,5 миллионов рублей</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Какую сумму Вы планируете потратить на открытие кофейни по франшизе?" value="Свой вариант">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Свой вариант</span>
						</label>
					</div>
				</div>

				<div class="quiz__item swiper-slide">
					<div class="quiz__title">
						Знакомы ли Вам такие понятия, как экстракция, латте-арт, робуста, каппинг, TDS?
					</div>
					<div class="quiz__box">
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Знакомы ли Вам такие понятия, как экстракция, латте-арт, робуста, каппинг, TDS?" checked value="Не знакомы.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Не знакомы.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Знакомы ли Вам такие понятия, как экстракция, латте-арт, робуста, каппинг, TDS?" value="Знакомы некоторые.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Знакомы некоторые.</span>
						</label>
						<label class="quiz__label tm-radio">
							<input type="radio" class="quiz__radio tm-radio__input" name="Знакомы ли Вам такие понятия, как экстракция, латте-арт, робуста, каппинг, TDS?" value="Знакомы все.">
							<span class="tm-radio__box"></span>
							<span class="tm-radio__text quiz__text">Знакомы все.</span>
						</label>
					</div>
				</div>
			</div>

			<div class="quiz__nav">
				<button class="btn btn--transparent quiz__btn quiz__btn--prev" disabled>Назад</button>
				<button class="btn btn--transparent quiz__btn quiz__btn--next">Далее</button>
			</div>
		</div>

		<div class="quiz__form form">
			<div class="quiz__form-title">Заполните форму для получения результатов теста</div>
			<label class="tm-field form__label">
				<input type="text" class="tm-field__input form__field v-req" placeholder="Имя" required>
			</label>
			<label class="tm-field form__label">
				<input type="email" class="tm-field__input form__field v-req _email" placeholder="Kfgjiu@kjh.mail.ru" required>
			</label>
			<label class="tm-field tm-phone form__label">
				<span class="tm-phone__left">Телефон</span>
				<input type="tel" class="tm-field__input tm-phone__input form__field js-phone-mask v-req" required>
			</label>
			<label class="tm-field form__label">
				<input type="text" class="tm-field__input form__field v-req" placeholder="Введите незвание города" required>
			</label>
			<button class="btn btn--transparent quiz__form-btn" type="submit">Получить результаты</button>

			<label class="tm-checkbox-2 form__processing quiz__form-processing">
				<input class="tm-checkbox-2__input" type="checkbox" required>
				<span class="tm-checkbox-2__box"></span>
				<span class="form__processing-text"><a href="#">С политикой конфиженциальности</a> ознакомлен(а)</span>
			</label>
		</div>
	</form>
</div>