<div class="section-modal" id="team-modal" data-simplebar>
	<button class="section-modal__close js-close">
		<span class="vissually-hidden">Закрыть модальное окно</span>
		<svg>
			<use xlink:href="img/svg/sprite1.svg#close-icon" />
		</svg>
	</button>
	<div class="section-modal__inner">
		<div class="section-modal__image">
			<img class="section-modal__img" src="img/franschise/section-modal.jpg" alt="">
		</div>
		<div class="section-modal__box">
			<div class="section-modal__heading">
				<div class="section-modal__title">
					Анатолиний Анатольевский
				</div>
				<div class="section-modal__subtitle">Какая то должность</div>
			</div>
			<div class="section-modal__text" data-simplebar>
				<div class="section-modal__text-inner">
					<p>
						Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.

						Открывая кофейню с нуля, вы получаете уникальную возможность прочувствовать все несовершенство бюрократической машины, выслушать мнение гостей о навыках новых подчиненных в литературных (и не очень) оборотах и, конечно же, узнать о партнерах, поставщиках и о себе много нового. Покупая франшизу, вы лишаетесь этой гаммы переживаний и получаете заведомо рабочую бизнес-модель, протестированную точку, полностью интегрированное (под имеющиеся место) рабочее пространство, компетентный персонал и надежное плечо своего франчайзера.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>