<section class="team" style="background-color: #fe8aaa;">
	<div class="container">
		<div class="team__inner">
			<h2 class="title-2 team__title tk-anim tk-a-rotate tk-no-hide">
				ВАС ПОДДЕРЖИТ КОМАНДА ПРОФЕССИОНАЛОВ <br>
				С 10 летним опытом!
			</h2>
			<div class="swiper-container" id="team-slider">
				<ul class="team__list swiper-wrapper">
					<li class="team__item" data-da="team__inner,0,1300">
						<div class="team__info">
							<span class="team__suptitle">Запустили более</span>
							<span class="team__value">150</span>
							<span class="team__subtitle">кофеен!</span>
						</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
					<li class="team__item js-team-btn swiper-slide js-team-modal" data-modal-target="#team-modal">
						<div class="team__image">
							<img class="team__img" src="img/team/team-member-1.png" alt="Анатолий Анатольев - Какая то должность">
						</div>
						<div class="team__name js-name">Анатолий Анатольев 1</div>
						<div class="team__position js-position">Какая то должность 1</div>
					</li>
				</ul>
				<div class="team__nav">
					<button class="team__btn team__btn--prev">Свайп назад</button>
					<div class="team__pagination swiper-pagination"></div>
					<button class="team__btn team__btn--next">Свайп вперед</button>
				</div>
			</div>

		</div>
	</div>
</section>