<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flyyy | Наша команда</title>


	<link rel="stylesheet" href="css/simplebar.min.css">
	<link rel="stylesheet" href="css/addresses.min.css">

	<noscript>
		<style>
			.simplebar-content-wrapper {
				overflow: auto;
			}
		</style>
	</noscript>
</head>
<body class="development-plan">


	{% set menuType = "white" %}
	{% include 'parts/menu.njk' %}

	<main class="main">

		{% set title = "Адреса кофеен <br> FlyCoffee" %}
		{% set itemsForBreadcrumbs = ['Главная', 'Адреса кофеен'] %}
		{% set textLhLarger = true %}
		{% set phSubtitle = 'Fly Coffee — Федеральная сеть креативных кофеен с фиксированными ценами!' %}
		{% set phListHead = [
		'Наши цены в кофей нях от 60₽',
		'Наш девиз One Love One Price',
		'Наши кофейни используют cвежеобжаренное SPECIALTY зерно',
		'Каждое утро ТОЛЬКО свежая выпечка'
		] %}
		{% include 'parts/page-heading.njk' %}

		{% include 'parts/contact-block.njk' %}

	</main>

	{% include 'parts/footer.njk' %}
	{% include 'parts/modal-form.njk' %}

	<div class="overlay"></div>

	<script src="js/global.js"></script>
	<script src="js/select.js"></script>

</body>
</html>