.menu {
	$text-color: $secondary-text;
	$bg: $third-bg;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;

	width: 220px;

	border-right: 1px solid rgba(#fff, 0.15);

	@media (max-width: $full) {
		left: auto;
		right: 0;
	}

	// .menu__inner

	&__inner {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 10;
		
		width: 222px;
		max-height: 100%;
		padding: 50px 35px 0 40px;
		overflow-y: auto;
		overflow-x: hidden;
	
		background-color: transparent;
		mix-blend-mode: multiply;

		@media (max-width: $full) {
			display: none;

			background-color: #fff;
		}

		.simplebar-scrollbar {
			width: 8px;
	
			&::before {
				opacity: 0.5;
			}
		}

		&.active {
			display: block;
		}
	}

	// .menu__logo

	&__logo {
		margin-bottom: 105px;
	}

	// .menu__list

	&__list {
		margin: 0;
		padding: 0;
	}

	// .menu__item

	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .menu__category

	&__category {
		margin-bottom: 15px;

		color: $text-color;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: -0.12em;
	}

	// .menu__links

	&__links {
		margin: 0;
		padding: 0;
	}

	// .menu__links-item

	&__links-item {
		line-height: 1.5;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .menu__link

	&__link {
		color: $text-color;
		font-weight: 400;
	}

	// .menu__social

	&__social {
		display: inline-block;

		&:nth-child(even) {
			margin-right: 15px;
		}
	}

	// .menu__social-link

	&__social-link {
		color: inherit;
	}

	// .menu__btn

	&__btn {
		position: fixed;
		top: 40px;
		right: 35px;
		z-index: 100;

		display: none;
		flex-direction: column;
		width: 50px;
		padding: 0;

		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: transparent;

		@media (max-width: $full) {
			display: flex;
		}

		&:hover {
			span {
				background-color: #fff;
			}
		}

		span {
			display: inline-block;
			height: 3px;

			background-color: $text-color;

			transition: background-color 0.3s;

			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}

	&__btn-left {
		width: 50%;
	}

	&__btn-center {
		width: 100%;
	}

	&__btn-right {
		width: 55%;
		margin-left: auto;
	}
}
